.ocean {
	width: 100%;
	position: relative;
	
	
}
.Dolphin {
	width: 50px;
	height: 90px;
	position: absolute;
	top: 60%;
	left: 90%;
	animation: Dolphin-animation 5s linear 3;
	transition: all 3s ease;
	z-index: 1;
}

@keyframes Dolphin-animation {
	0% {left: 900px; top: 200px; transform: rotate(30deg);}
	15% { left: 800px; top: 80px;transform: rotate(-25deg)}
	40% { left: 700px; top: 100px;transform: rotate(-90deg)}
	60% { left: 550px; top: 300px;transform: rotate(-150deg)}
	70% { left: 450px; top: 300px;transform: rotate(-250deg)}
	90% { left: 400px; top: 300px;transform: rotate(-380deg)}
	100% { left: 400px; top: 300px;transform: rotate(-480deg)}
}
.boat {
	width: 60px;
	position: absolute;
	top: 33%;
	left: 90%;
	animation: boat-animation 50s linear 1;
}
@keyframes boat-animation {
	from {top: 33%; left: 90%;}
	to { top: 33%; left: 30%; }
}
.fish {
	width: 50px;
	position: absolute;
	top: 400px;
	left: 600px;
	animation: fish-animation 30s linear 1;
}
@keyframes fish-animation {
	from {top: 400px; left: 600px;}
	to { top: 400px; left: 100px; }
}
.sun {
	width: 100px;
	position: absolute;
	top: 90px;
	left: 550px;
	transition-duration: 3s;
	transition-timing-function: ease-out;
}

.sun:hover {
width: 200px;
}
.fish2 {
	width: 50px;
	position: absolute;
	top: 400px;
	left: 350px;
	animation: fish2-animation 25s linear 3;
	z-index: 5;
	
}
@keyframes fish2-animation {
	from {top: 300px; left: 350px;}
	to {top: 300px; left: 1000px;}
}
.fish3 {
	width: 50px;
	position: absolute;
	top: 400px;
	left: 350px;
	animation: fish3-animation 15s linear 3;
	
}
@keyframes fish3-animation {
	from {top: 500px; left: 900px;}
	to {top: 300px; left: 1200px;}
}
.Parachute {
	width: 200px;
	height: 150px;
	position: absolute;
	top: 30px;
	left: 50px;
	transition-duration: 15s;
	transition-timing-function: linear	;
}
.Parachute:hover {
	top: 200px;
	left: 30px;
}
.fish4 {
	
	width: 100px;
	top: 500px;
	left: 400px;
	transition-duration: 5s;
	transition-timing-function: linear	
	position: absolute;
}
.fish4:hover {
	width: 160px;
	top: 400px;
}